-i https://pypi.org/simple/
asgiref==3.2.10
braintree==4.2.0
cachecontrol==0.12.6
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.2
deprecation==2.1.0
django-extensions==3.0.2
django-render-block==0.8.1
django-rest-xauth==1.0.9
django-templated-email==2.3.0
django==3.1.2
djangorestframework==3.12.1
idna==2.10
jsonpickle==0.9.6
jwcrypto==0.8
msgpack==1.0.0
packaging==20.4
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0 ; python_version >= '3.0'
six==1.15.0
sqlparse==0.4.1
squareup==6.0.0.20200625
stripe==2.48.0
timeago==1.0.14
urllib3==1.25.11
